In [23]:
import pandas as pd
import numpy as np

In [24]:
data=pd.read_csv("BNP.PA.csv")
data.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-10-14  53.000000  53.880001  52.849998  53.119999  36.389462  2470977
1  2015-10-15  53.810001  54.139999  53.610001  53.970001  36.971752  2310701
2  2015-10-16  54.299999  55.130001  54.119999  54.990002  37.670494  3069609
3  2015-10-19  54.970001  55.610001  54.599998  55.090000  37.739002  1917697
4  2015-10-20  55.000000  55.330002  54.029999  54.299999  37.197815  2267993

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1536 entries, 0 to 1535
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1536 non-null   object
 1   Open       1536 non-null   float64
 2   High       1536 non-null   float64
 3   Low        1536 non-null   float64
 4   Close      1536 non-null   float64
 5   Adj Close  1536 non-null   float64
 6   Volume     1536 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 84.1+ KB

In [26]:
data=data.set_index(pd.DatetimeIndex(data['Date'].values))

In [27]:
prediction_days=1
data['prediction']=data['Close'].shift(-prediction_days)
data

,Date,Open,High,Low,Close,Adj Close,Volume,prediction
2015-10-14,2015-10-14,53.000000,53.880001,52.849998,53.119999,36.389462,2470977,53.970001
2015-10-15,2015-10-15,53.810001,54.139999,53.610001,53.970001,36.971752,2310701,54.990002
2015-10-16,2015-10-16,54.299999,55.130001,54.119999,54.990002,37.670494,3069609,55.090000
2015-10-19,2015-10-19,54.970001,55.610001,54.599998,55.090000,37.739002,1917697,54.299999
2015-10-20,2015-10-20,55.000000,55.330002,54.029999,54.299999,37.197815,2267993,54.400002
...,...,...,...,...,...,...,...,...
2021-10-07,2021-10-07,56.799999,57.919998,56.029999,57.090000,57.090000,4022752,57.000000
2021-10-08,2021-10-08,56.930000,57.490002,56.860001,57.000000,57.000000,2512322,57.330002
2021-10-11,2021-10-11,57.000000,57.779999,56.959999,57.330002,57.330002,2173487,57.189999
2021-10-12,2021-10-12,56.500000,57.279999,56.270000,57.189999,57.189999,1991495,56.360001
2021-10-13,2021-10-13,57.099998,57.290001,55.830002,56.360001,56.360001,2570059,NaN

In [28]:
data=data[['Close']]

In [29]:
data['prediction']=data[['Close']].shift(-prediction_days)

<ipython-input-29-5c970900951c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['prediction']=data[['Close']].shift(-prediction_days)

In [31]:
x=np.array(data.drop(['prediction'],1))
x=x[:len(data)-prediction_days-1]

In [33]:
y=np.array(data['prediction'])
y=y[:-prediction_days-1]

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [36]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()

In [37]:
model.fit(x_train,y_train)

RandomForestRegressor()

In [38]:
model.score(x_test,y_test)

0.9893431552467045

In [40]:
predict_test=model.predict(x_test)

In [41]:
from sklearn.metrics import mean_squared_error as mse
mse(y_test,predict_test)

1.1520766880657634